body {
    background-color: white;
    padding: 20px;
    margin: 0;
  }
  #new-user-container{
    font-family:Trebuchet MS;
  }
  h1, h2, h3, p, ul, li {
    font-family:Trebuchet MS;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #f96204;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
 
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  .active {
  background-color: #f9902c;
}

  .center {
    margin: auto;
    width: 60%;
    border: 3px solid red;
    padding: 60px;
  }

  body{
    font-family: Raleway;
    color: #020202;
    margin: 10px 30px;
}
input[type="text"]{
    display: block;
    width: 300px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
     background: #ffc4ad;
    border: 1px solid #ddd;
}
label{
    font-weight: bold;
}
.title{
    color: #fff;
    text-align: center;
    font-size: 48px;
}
#registration h1{
    text-align: center;
}
form{
    max-width: 350px;
    margin: 30px auto;
    
}
ul{
    margin: 0;
    padding: 0;
}


span.false{
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: white;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  align-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: antiquewhite;
  color: rgb(0, 0, 0);
  border: 2px solid orange;
}

.button1:hover {
    background-color:orange;
    color: white;
}

button1.false{display: none;}


.center1 {
  margin: auto;
  width: 60%;
  border: 3px solid gray;
  padding: 100px;
}